.containerHome {
    height: 100%;
    width: 100%;
}

.homeTitle,
.homeSubtitle {
    margin-left: 5%;
    font-size: 18px;
    font-weight: bold;
}

.homeSubtitle {
    color: #1B4332;
}

.homeTextSubtitle {
    font-size: 14px;
    text-align: justify;
    margin: 5%;
}

.homeInfosContainer {
    margin: 5% 5% 3% 5%;
    font-size: 14px;
    text-align: justify;
}


.containerVideos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #95d5b26c;
    margin: 5% 0;
}

.containerVideos h1 {
    font-size: 18px;
    text-align: left !important;
    width: 100%;
    padding: 2% 5%;
}

.containerVideos h2 {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    padding: 1% 5%;
}

.gridVideos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5%;
}

.videosMobility {
    height: 200px;
    width: 90%;
}

.paragrafoTasa {
    font-size: 14px;
    text-align: justify;
}

.automotiveEmail {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.spanAzul {
    color: #1B4332;
    font-weight: bold;
}

@media (min-width: 600px ) {

    .homeTitle {
        font-size: 32px;
        margin-top: 80px;
    }

    .homeSubtitle {
        font-size: 28px;
        margin-top: 20px;
    }

    .homeTextSubtitle {
        font-size: 18px;
        margin-top: 30px;
    }

    .homeInfosContainer {
        font-size: 18px;
    }

    .containerVideos {
        margin: 5% 0;
    }

    .containerVideos h1 {
        font-size: 32px;
        color: #1B4332;
        font-weight: bolder;
        text-align: center !important;
        width: 100%;
        padding: 5% 9% 2% 9%;
    }

    .containerVideos h2 {
        font-size: 18px;
        font-weight: 500;
        width: 100%;
        padding: 0% 9% 2% 9%;
        text-align: justify;
        text-align-last:  center;
    }

    .gridVideos {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px !important;
        column-gap: 40px !important;
        width: 100%;
    }

    .videos {
        margin: 3% 0% 10% 0;
        width: 100%;
    }

    .videosMobility {
        height: 260px; /*era 400px*/
        width: 450px !important;
    }

    .paragrafoTasa {
        font-size: 18px;
    }

}

@media (min-width: 1300px) {
    .homeInfosContainer {
        font-size: 18px;
        margin-top: -60px;
    }
    .gridVideos {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 0px !important;
        column-gap: 40px !important;
        width: 100%;
    }

    .videos {
        margin: 2% 0% 5% 0;
    }

    .videosMobility {
        height: 380px; /*era 420px*/
        width: 680px !important;
    }

}